.job-detail-modal > .modal-content > .job-subtitle {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3em;
}

.job-detail-modal > .modal-content > .job-company-details {
  display: flex;
  gap: 1.5em;
  margin: 2em 0;
}

.job-detail-modal > .modal-content > .job-company-details > .left-section > img {
  width: 4rem;
}

.job-detail-modal > .modal-content > p.job-description {
  text-align: justify;
}