.manage-job-applications {
  padding-top: 16em;
  padding-bottom: 6em;
}

.manage-job-applications > h1,
.manage-job-applications > p {
  text-align: center;
}

.manage-job-applications > p.subtitle {
  margin-bottom: 2.5em;
}

.manage-job-applications > .additional-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

.manage-job-applications > .job-applications-list-seeker {
  margin-top: 3em;
}

.manage-job-applications > p.no-job-applications {
  margin-top: 2.5em;
}

@media (width < 1450px) {
  .manage-job-applications > .additional-filters {
    flex-direction: column;
    justify-content: center;
    gap: 3em;
  }
}