.application-status-filter {
  background-color: var(--lightest-color);

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5em;

  padding: 1.5em 0;
  border-radius: 20px;

  position: relative;
  z-index: 1;
}

.application-status-filter > * {
  width: 12rem;
  text-align: center;
  cursor: pointer;
  color: var(--application-status-option, var(--dark-color));
}

.application-status-filter::before {
  content: "";
  width: 12rem;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  left: var(--before-left, 0);
  transition: all 0.15s ease-in-out;
}