footer {
  padding-top: 6em;
  padding-bottom: 2em;
  background-color: var(--light-purple);
}

footer > .container > .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

footer > .container > .top-section > .right-section > h1 {
  font-size: clamp(3rem, 5vw, 3.5rem);
}

footer > .container > .top-section > .left-section > img {
  width: clamp(13rem, 15vw, 15rem);
  margin-bottom: 0.5em;
}

footer > .container > .bottom-section > p {
  border-top: 1px solid var(--light-color);
  padding-top: 1.5em;
  text-align: center;
}

@media (width < 1100px) {
  footer > .container > .top-section {
    flex-direction: column;
    gap: 3em;
  }

  footer > .container > .top-section > .right-section > h1 {
    text-align: center;
  }
}