
.cv-template-container-outerDiv {
  display: flex;
  flex-direction: row;
  column-gap: 2%;
  margin: 5% 5%;
  width: 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 15%;
  left: 20%;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1%;
}

.cv-template-container-innerDiv {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-template-container-cvTemplateImage {
  width: 100%;
  height: auto;
  margin-bottom: 15%;
}

.cv-template-container-closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  border-radius: none;
  border-top-right-radius: 5%;
}

.cv-template-container-closeButton:hover {
  background-color: red;
}

.cv-template-container-preview-button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  border: none;
  transition: 0.15s;
}

.cv-template-container-preview-button:hover {
  opacity: 0.8;
}
