.cv-templates {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.cv-template-container-innerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.cv-template-container-cvTemplateImage {
  max-width: 350px;
  width: 100%;
}

.cv-template-container-preview-button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: 0.15s;
  border: 1px solid transparent;
  width: 100%;
}

.cv-template-container-preview-button:hover {
  background-color: var(--primary-color);
  border: solid;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-width: 1px;
}
