.cv-template-container-outerDiv {
  max-width: 1200px;
}

.cv-templates {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cv-template-container-cvTemplateImage {
  width: 400px;
  height: 400px;
}

.cv-template-container-closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  border-radius: none;
  border-top-right-radius: 5%;
}

.cv-template-container-closeButton:hover {
  background-color: red;
}

.cv-template-container-preview-button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  border: none;
  transition: 0.15s;
  border: 1px solid transparent;
}

.cv-template-container-preview-button:hover {
  background-color: var(--primary-color);
  border: solid;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-width: 1px;
}
