.job-application-detail-modal > .modal-content > h1,
.job-application-detail-modal > .modal-content > h6,
.job-application-detail-modal > .modal-content > p:not(:first-of-type) {
  text-align: center;
}

.job-application-detail-modal > .modal-content > h6 {
  margin-top: 1.5em;
}

.job-application-detail-modal > .modal-content > button {
  margin: 0 auto;
  display: block;
  padding: 0.5em 4.5em;
  margin-bottom: 2em;
}

.job-application-detail-modal > .modal-content > h6 {
  margin-bottom: 0.25em;
}
