.manage-job-posts {
  padding-top: 16em;
  padding-bottom: 6em;
}

.manage-job-posts > .additional-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

.manage-job-posts > h1,
.manage-job-posts > p {
  text-align: center;
}

.manage-job-posts > button {
  margin: 1em 0;
  display: block;
  margin-left: auto;
}

.manage-job-posts > .manage-job-posts-list {
  margin-top: 3em;
}

.manage-job-posts > p.no-jobs {
  margin-top: 2.5em;
}

@media (width < 1000px) {
  .manage-job-posts > button {
    margin-right: auto;
  }
}

@media (width < 885px) {
  .manage-job-posts > .additional-filters {
    flex-direction: column;
    justify-content: center;
    gap: 3em;
  }
}