header {
  background-color: var(--primary-color);
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 4em 4em;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container > .left-section > a > img {
  width: 15rem;
}

header > .container > .right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

header > .container > .right-section > p:hover {
  cursor: pointer;
  color: var(--secondary-color);
  transition: color 0.15s ease-in-out;
}
 
header > .container > .right-section > select {
  border: none;
}

header .custom-dropdown {
  position: relative;
  cursor: pointer;
}

header .custom-dropdown .options {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: max-content;
  display: none;
  background: var(--primary-color);
  border-radius: 10px;
}

header .custom-dropdown .options div {
  padding: 0.5em 1.5em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border-radius: 10px;
}

header .custom-dropdown .options div:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

header .custom-dropdown.active .options {
  display: block;
}

header .custom-dropdown p.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}


@media (width < 730px) {
  header > .container {
    flex-direction: column;
    gap: 3em;
  }

  header .right-section {
    --menu-height: 0;
    --menu-pad: 0;
    flex-direction: column;
    transition: height 0.25s ease-in-out;
    height: var(--menu-height) !important;
    overflow: hidden;
    padding-bottom: var(--menu-pad);
  }

  header {
    padding-bottom: 0em;
  }
}