section.manage-job-post-card {
  background-color: var(--light-purple);
  padding: 3em 3em;
  border-radius: 10px;
  max-width: 45rem;
}

section.manage-job-post-card > .top-section {
  display: flex;
  justify-content: space-between;
}

section.manage-job-post-card > .job-subtitle > *,
section.manage-job-post-card > .job-company-details > * {
  font-size: 1.5rem;
} 

section.manage-job-post-card > .job-subtitle {
  display: flex;
  align-items: center;
  gap: 3em;
  margin-top: 0.5em;
}

section.manage-job-post-card > .job-subtitle > .job-type {
  padding: 0.25em 0.5em;
  border-radius: 5px;
  color: var(--primary-color);
}

section.manage-job-post-card > .job-company-details {
  display: flex;
  gap: 1.5em;
  margin: 2em 0;
}

section.manage-job-post-card > .job-company-details > .left-section > img {
  width: 4rem;
}

section.manage-job-post-card > .button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

section.manage-job-post-card > .button-section > .button-primary,
section.manage-job-post-card > .button-section > .button-secondary {
  padding: 0.5em 2em;
  min-width: max-content;
  flex: 1;
  width: 100%;
}

@media (width < 430px) {
  section.manage-job-post-card > .button-section {
    flex-direction: column;
  }
}