.manage-profile-seeker {
  padding-top: 16em;
  padding-bottom: 6em;
  max-width: 50%;
}

.manage-profile-seeker > h1,
.manage-profile-seeker > p {
  text-align: center;
}

.manage-profile-seeker > p.subtitle {
  margin-bottom: 2.5em;
}

.manage-profile-seeker > form > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-bottom: 2em;
}

.manage-profile-seeker > form > div > input {
  padding: 0.5em;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  margin-top: 0.25em;
  width: 100%;
}

.manage-profile-seeker > form > div > .company-logo-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.manage-profile-seeker > form > div > .company-logo-section > img {
  width: 15rem;
}

.manage-profile-seeker > form > .button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.manage-profile-seeker > form button {
  padding: 0.5em 2em;
  width: 100%;
}

