section.posted-job-view-application-card {
  background-color: var(--light-purple);
  padding: 3em 3em;
  border-radius: 10px;
}

section.posted-job-view-application-card > .job-subtitle > *,
section.posted-job-view-application-card > .job-company-details > * {
  font-size: 1.5rem;
} 

section.posted-job-view-application-card > .job-subtitle {
  display: flex;
  align-items: center;
  gap: 3em;
  margin-top: 0.5em;
}

section.posted-job-view-application-card > .job-subtitle > .job-type {
  padding: 0.25em 0.5em;
  border-radius: 5px;
  color: var(--primary-color);
}

section.posted-job-view-application-card > .job-company-details {
  display: flex;
  gap: 1.5em;
  margin: 2em 0;
}

section.posted-job-view-application-card > .job-company-details > .left-section > img {
  width: 4rem;
}


section.posted-job-view-application-card > .button-primary {
  padding: 0.5em 2em;
  width: 100%;
}
