section.hero {
  padding: 6em 0;
  padding-top: 16em;
}

.hero > .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.hero > .container > .left-section {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 3em;
}

section.hero > .container > .right-section {
  flex: 0.5;
}

@media (width < 730px) {
  .hero > .container {
    flex-direction: column-reverse;
    gap: 3em;
  }

  .hero > .container > .right-section {
    width: 20rem;
  }

  .hero > .container > .left-section {
    text-align: center;
    align-items: center !important;
    justify-content: center !important;
  }
}